body{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    background-color: #eff5f8;
    color: #001b44;
    min-height: 100vh;
    margin: 1%

}

h1{
    background-color: rgb(137, 205, 209);
    text-align: center;
}

h3,
h2{
    background-color:  rgb(137, 205, 209);
    padding-block: 1%;
    margin: 3%;
    font-size: large;
    text-decoration:solid;



}
style{
    width: max-content;
}

footer{
    font-size: large;

}
houver h1,h2,h3{


}

